<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>About Us</title>
    
    <style>.ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
       }
        </style>
  </head>
  <body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    
    
     
      <section class="parallax-container" data-parallax-img="https://images.pexels.com/photos/715816/pexels-photo-715816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="/">Home</a></li>
                  <li class="active">About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50">  
            <div class="col-lg-6 pr-xl-5"><img src="https://images.pexels.com/photos/8199602/pexels-photo-8199602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="518" height="430"/>
            </div>
            <div class="col-lg-6">
              <h2 class="heading-with-text-bg">About Bookish Banter<span class="block-background-text text-decorative-black-20 big">About Us</span></h2>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4>"A book is a dream that you hold in your hands." - Neil Gaiman</h4>
              </div>
              <p>Welcome to Bookish Banter, your ultimate destination for a world of literary wonders. At Bookish Banter, we believe in the transformative power of books and the joy they bring to people's lives. Our online bookstore is more than just a platform to buy books; it's a community where readers, authors, and book enthusiasts come together to celebrate the magic of storytelling.</p>
              <br>
              <br>
              <h2 class="heading-with-text-bg">Our Story & Mission<span class="block-background-text text-decorative-black-20 big">About Us</span></h2>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4>"Reading gives us someplace to go when we have to stay where we are." - Mason Cooley</h4>
              </div>
              <p>Established in 2024, Bookish Banter was born out of a passion for literature and a commitment to connect readers with the books that capture their hearts and minds. We envisioned a virtual space where book lovers could explore, discover, and share their love for reading.</p>
              <p> Our mission is to inspire a lifelong love of reading by curating a diverse collection of books that cater to every taste and interest. We aim to be more than just a bookstore; we strive to be a trusted companion on your literary journey, offering not only a vast selection of books but also a community where ideas and stories are exchanged.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="text-center">
            <h2 class="heading-with-text-bg">Why Choose Us<span class="block-background-text text-decorative-black-20 big">Benefits</span></h2>
          </div>
          <div class="row row-50">
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-shield text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Curated Selection</div></h4>
                  <p>Our team of avid readers carefully selects each book in our collection, ensuring a diverse and engaging range of titles.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-paw text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Community Focus</div></h4>
                  <p>We believe in the power of a shared reading experience. Join our community to participate in discussions, book clubs, and exclusive events.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-recycle text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Reader-Centric Approach</div></h4>
                  <p>Your reading experience is at the heart of what we do. We constantly strive to enhance our platform, making it user-friendly and enjoyable.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-sun text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Author Support</div></h4>
                  <p>We are committed to supporting both established and emerging authors. Explore the works of your favorite writers and discover new voices shaping the literary landscape.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-star text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>User-Friendly Experience</div></h4>
                  <p>Navigating through our website is designed to be a seamless and enjoyable experience. Our user-friendly interface ensures that you can find and purchase your favorite books with ease. Browse by genre, author, or theme, and let the joy of reading take center stage.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-helicopter text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Exclusive Offers and Events</div></h4>
                  <p>As a valued member of Bookish Banter, you'll have access to exclusive offers, promotions, and events. Stay informed about book launches, signings, and community happenings. We believe in rewarding our readers for their loyalty and passion for books.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parallax-container" data-parallax-img="https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <div class="parallax-content section-xl context-dark text-center overlay overlay-2">
          <div class="container">
            <div class="row row-50">
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">1000</div>
                  </div>
                  <p class="counter-text-stroke-title">Customer Base</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">5000</div>
                  </div>
                  <p class="counter-text-stroke-title">Total Book Collection</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">200</div>
                  </div>
                  <p class="counter-text-stroke-title">Daily donations</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">8</div>
                  </div>
                  <p class="counter-text-stroke-title">Authors</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<section class="section-lg bg-default text-center">
        <div class="container">
          <div class="wow-outer">
            <div class="wow slideInDown">
              <h2 class="heading-with-text-bg">Our Partners<span class="block-background-text text-decorative-black-20 big">Partners</span></h2>
            </div>
          </div>
          #<!-- Owl Carousel-->
          <!-- <div class="owl-carousel dots-offset-lg" data-items="1" data-sm-items="2" data-md-items="3" data-dots-each="2" data-lg-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="30" data-mouse-drag="false" data-autoplay="true"><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-1-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-2-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-3-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-4-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-1-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-2-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-3-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-4-270x121.png" alt="" width="270" height="121"/>
              </div></a></div>
        </div>
      </section>  -->
    </div> 
</html>
{% endblock %}